body
	{
	background-color:#505050 ;
	color:#black;
	
	}
	
#wrapper
	{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #a0a0a0;
	min-width: 960px;
	padding-bottom:200px;
	margin-bottom:-20px;
	}

	
	h1
		{
		background-image:url('headerpg1.png');
		height: 100px;
		background-repeat: no-repeat;
		background-position:center;
		text-indent: -9999px;
		margin:-8px -8px 0px -8px;
		padding:80px;
		
		
		}
		
	h4
		{
		background-image:url('lol.jpg');
		height: 100px;
		background-repeat: no-repeat;
		background-position:center;
		text-indent: -9999px;
		margin-left:170px;
		margin-right:170px;
		padding:100px;
		background-color:black;
		margin-top:0px;
		margin-bottom:0px;
		
		}
	
	#content
		{
		text-align:left;
		color:#black;
		font-family:"impact";
		font-size:120%;
		margin-left:170px;
		margin-right:170px;

		}
		
h6
	{
	padding:0px;
	margin:0px;
	margin-left:50px;
	font-family:"friz quadrata";
	font-size:300%;
	color:#ccac00;
	}
	
h2
	{
	clear:float;
	margin-left:50px;
	}
	
nav
	{
	float:left;
	width:160px;
	font-weight: bold;
	text-align: center;
	padding-bottom:50px;
	
	}
	

	
	
ul
	{
	text-decoration:none;
	list-style-type:none;
	padding: 0px;
	font-size: 1.2em;
	}
	
img 
	{
	padding:0px;
	}


#img src
	{
	margin:0;
	}
	
nav a
	{
	color:#ccac00  ;
	text-decoration:none;
	font-size:130%;
	text-shadow:2px 2px black;
	display:block;
	}
	
input
	{
	text-align:left;
	}

article
	{
	float:clear;
	}
